.section-about {
  background-color: $color-grey-light-1;
  color: $color-grey-dark;
  padding: 5rem 0;
  text-align: center;
  .section-about__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .section-about__text {
    font-size: $default-font-size;
    margin-bottom: 2rem;
  }
  .section-about__btn {
    background-color: $color-white;
    color: $color-primary;
    font-size: $default-font-size;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      //   background-color: $color-white-hover;
    }
  }
}
